@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
}

.navigation-bar{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
}

ul {
    list-style-type: none;
    font-size: 18px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}