@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
}

.navigation-bar{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}


ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 18px;
    padding-right: 48px;    
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-content .title{
    font-size: 48px;
    color: #F9F8FA;
    font-weight: 900;
    text-wrap: wrap;
}

.hero-content .title-text{
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    padding: 52px;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
}

.hero-text-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 450px;
}

.one-main-content-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding-top: 48px;
}

.one-main-content-content{
    display: flex;
    flex: 1;
    justify-content: center;
    text-wrap: wrap;
    padding: 48px;
    gap: 32px;
}

.one-main-content-content img {
    border: 4px solid #3882f6 ;
    border-radius: 10px;
}

.imgDesc p {
    max-width: 200px;
    text-align: center;
}

.quote-main-content{
    background-color: #E5E7Eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
    padding: 64px;
}

.action-container{
    display: flex;
    justify-content: center;
}

.action-main-content{
    font-size: 24px;
    border: 2px solid #000;
    margin: 64px;
    padding: 48px;
    width: 1000px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.action-button {
    border: 2px solid #F9F8FA;
    width: 150px;
    height: fit-content;
    align-self: center;
}

.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 24px;
    text-align: center;
}