@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1f2937;
}

.navigation-bar{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.header-logo{
    padding-left: 48px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 18px;
    padding-right: 48px;    
}

a {
    color: #E5E7EB;
    text-decoration: none;
}


.hero-text .title{
    font-size: 48px;
    color: #F9F8FA;
    font-weight: 900;
    text-wrap: wrap;
}

.hero-text .title-text{
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
}

